# Projekt iz SPI

## Checkpoint 1 

### Sales Dataset of Ecommerce (Electronic Products)

Link na dataset: https://www.kaggle.com/datasets/roopeshbharatwajkr/ecommerce-dataset

In [1]:
import pandas as pd

##### Učitati iz csv u dataframe (pandas)

In [2]:
df = pd.read_csv('Ecommerce-orders.csv',on_bad_lines='skip')

##### Pregled prvih 5 redaka

In [3]:
df.head()

,product_id,seller_id,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,...,seller_city,seller_state,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00066f42aeeb9f3007548bb9d3f33c38,5670f4db5b62c43d542e1b2d56b0cf7c,f30149f4a8882a08895b6a242aa0d612,86c180c33f454b35e1596a99da3dddc4,delivered,2018-05-20 18:45:00,2018-05-20 18:58:59,2018-05-21 16:09:00,2018-06-06 22:11:00,2018-06-20 00:00:00,...,sao paulo,SP,perfumaria,53.0,596.0,6.0,300.0,20.0,16.0,16.0
1,00088930e925c41fd95ebfe695fd2655,7142540dd4c91e2237acb7e911c4eba2,f5eda0ded77c1293b04c953138c8331d,68f2b37558e27791155db34bcded5ac0,delivered,2017-12-12 19:20:00,2017-12-12 19:32:19,2017-12-20 20:12:42,2017-12-23 17:11:00,2018-01-05 00:00:00,...,penapolis,SP,automotivo,56.0,752.0,4.0,1225.0,55.0,10.0,26.0
2,0009406fd7479715e4bef61dd91f2462,4a3ca9315b744ce9f8e9374361493884,0bf736fd0fd5169d60de3699fcbcf986,6cd217b674e22cf568f6a2cf6060fd07,delivered,2017-12-21 16:21:00,2017-12-22 17:31:27,2018-01-02 22:27:47,2018-01-06 15:03:00,2018-01-16 00:00:00,...,ibitinga,SP,cama_mesa_banho,50.0,266.0,2.0,300.0,45.0,15.0,35.0
3,000b8f95fcb9e0096488278317764d19,40ec8ab6cdafbcc4f544da38c67da39a,6f0dfb5b5398b271cc6bbd9ee263530e,8517e7c86998bf39a540087da6f115d9,delivered,2018-08-01 22:00:00,2018-08-01 22:15:19,2018-08-02 14:20:00,2018-08-07 17:38:00,2018-08-24 00:00:00,...,francisco beltrao,PR,utilidades_domesticas,25.0,364.0,3.0,550.0,19.0,24.0,12.0
4,000b8f95fcb9e0096488278317764d19,40ec8ab6cdafbcc4f544da38c67da39a,3aba44d8e554ab4bb8c09f6f78032ca8,82b838f513e00463174cc7cae7e76c1f,delivered,2018-08-10 13:24:00,2018-08-10 13:35:21,2018-08-13 14:43:00,2018-08-17 21:33:00,2018-08-27 00:00:00,...,francisco beltrao,PR,utilidades_domesticas,25.0,364.0,3.0,550.0,19.0,24.0,12.0

##### Veličina skupa

In [4]:
df.shape

(96478, 38)

##### Nazivi stupaca

In [5]:
df.columns

Index(['product_id', 'seller_id', 'order_id', 'customer_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'review_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value', 'order_item_id', 'price',
       'freight_value', 'seller_zip_code_prefix', 'seller_city',
       'seller_state', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

##### Broj nedostajućih vrijednosti po stupcu (.isna)

In [6]:
df.isnull().sum()

product_id                           0
seller_id                            0
order_id                             0
customer_id                          0
order_status                         0
order_purchase_timestamp             0
order_approved_at                   14
order_delivered_carrier_date         2
order_delivered_customer_date        8
order_estimated_delivery_date        0
customer_unique_id                   0
customer_zip_code_prefix             0
customer_city                        0
customer_state                       0
review_id                            0
review_score                         0
review_comment_title             85171
review_comment_message           56926
review_creation_date                 0
review_answer_timestamp              0
payment_sequential                   1
payment_type                         1
payment_installments                 1
payment_value                        1
order_item_id                        0
price                                0
freight_value                        0
seller_zip_code_prefix               0
seller_city                          0
seller_state                         0
product_category_name             1356
product_name_lenght               1356
product_description_lenght        1356
product_photos_qty                1356
product_weight_g                    16
product_length_cm                   16
product_height_cm                   16
product_width_cm                    16
dtype: int64

##### Jedinstvene vrijednosti (.unique())

In [7]:
{col: len(df[col].unique()) for col in df.columns}

{'product_id': 31111,
 'seller_id': 2959,
 'order_id': 96478,
 'customer_id': 96478,
 'order_status': 1,
 'order_purchase_timestamp': 86358,
 'order_approved_at': 88275,
 'order_delivered_carrier_date': 80107,
 'order_delivered_customer_date': 75646,
 'order_estimated_delivery_date': 445,
 'customer_unique_id': 93358,
 'customer_zip_code_prefix': 14889,
 'customer_city': 4085,
 'customer_state': 27,
 'review_id': 96004,
 'review_score': 5,
 'review_comment_title': 4425,
 'review_comment_message': 34989,
 'review_creation_date': 628,
 'review_answer_timestamp': 95851,
 'payment_sequential': 13,
 'payment_type': 5,
 'payment_installments': 25,
 'payment_value': 27586,
 'order_item_id': 13,
 'price': 5767,
 'freight_value': 6680,
 'seller_zip_code_prefix': 2162,
 'seller_city': 595,
 'seller_state': 22,
 'product_category_name': 74,
 'product_name_lenght': 65,
 'product_description_lenght': 2934,
 'product_photos_qty': 20,
 'product_weight_g': 2155,
 'product_length_cm': 100,
 'product_height_cm': 103,
 'product_width_cm': 95}

##### Ispis tipova podataka (.dtypes)

In [8]:
df.dtypes

product_id                        object
seller_id                         object
order_id                          object
customer_id                       object
order_status                      object
order_purchase_timestamp          object
order_approved_at                 object
order_delivered_carrier_date      object
order_delivered_customer_date     object
order_estimated_delivery_date     object
customer_unique_id                object
customer_zip_code_prefix           int64
customer_city                     object
customer_state                    object
review_id                         object
review_score                       int64
review_comment_title              object
review_comment_message            object
review_creation_date              object
review_answer_timestamp           object
payment_sequential               float64
payment_type                      object
payment_installments             float64
payment_value                    float64
order_item_id                      int64
price                            float64
freight_value                    float64
seller_zip_code_prefix             int64
seller_city                       object
seller_state                      object
product_category_name             object
product_name_lenght              float64
product_description_lenght       float64
product_photos_qty               float64
product_weight_g                 float64
product_length_cm                float64
product_height_cm                float64
product_width_cm                 float64
dtype: object

##### Frekvencije vrijednosti po stupcu (petlja, data[column].value_counts())

In [9]:
for col in df.columns:
    print(df[col].value_counts())
    print()

99a4788cb24856965c36a24e339b6058    430
aca2eb7d00ea1a7b8ebd4e68314663af    424
422879e10f46682990de24d770e7f83d    334
d1c427060a0f73f6b889a5c7c61f2ac4    307
53b36df67ebb7c41585e8d54d6772e08    300
                                   ...
69e4611a0bf0f672e3a83b719cdb76ab      1
69e3a7b303638194dc5edd5e6abff8ff      1
69ddf2dd08328f81e57bdaf72c4f3b03      1
69ddd03e946aeb806f29e21da4518329      1
fffe9eeff12fcbd74a2f2b007dde0c58      1
Name: product_id, Length: 31111, dtype: int64

6560211a19b47992c3666cc44a7e94c0    1802
4a3ca9315b744ce9f8e9374361493884    1723
cc419e0650a3c5ba77189a1882b7556a    1649
1f50f920176fa81dab994f9023523100    1384
da8622b14eb17ae2831f4ac5b9dab84a    1291
                                    ...
a4fc6eadaff1576af888509a53420f6a       1
47f55702f598c7c6cc8458b0fbc1c49a       1
1d953075c2f0dd990bacf27b83b330f1       1
6624bc09786f0e41ae48dfc5eeb1a9e2       1
b5b800c4065bebf4d3442311c9857344       1
Name: seller_id, Length: 2959, dtype: int64

f30149f4a8882a08895b6a242aa0d612    1
56cbeec7ba721c09cf45937ec625f675    1
82e0be51b738da8e7e60e27649068de4    1
635b67e7a17b4d236c63d1caa46d23d0    1
fbafcc549363560790bf2e28730a7f36    1
                                   ..
99d77f27c8ce75d51ce78cfe695ca1c3    1
d307f9ed518d1ee6fe69995bf48ede89    1
4eb675b19f4c57f0c9da2af252155c7b    1
4c405d4709e91c1a881d8e70a74d9dbe    1
fbf3da6fe82010412982890b0c57e532    1
Name: order_id, Length: 96478, dtype: int64

86c180c33f454b35e1596a99da3dddc4    1
805c27c95b765919bfa4d7153a30eda8    1
76bd923751cae856a286b6b98a0350a0    1
75e4b447deaa6d3563a29985153a7ff4    1
6143ab26bc0193094caa9685a0c90d00    1
                                   ..
eb4f40368c958563004db00314d45274    1
93b1e92e3e0e0e8ef80e6623437377a3    1
e9103c023409f32b75dcd70171423f1e    1
6f5a5363751e0e9093a2628b5bdfc5e4    1
e24fae1db3d4f392215beb9553f72f82    1
Name: customer_id, Length: 96478, dtype: int64

delivered    96478
Name: order_status, dtype: int64

2018-08-02 12:06:00    28
2018-08-02 12:05:00    25
2018-08-02 12:07:00    22
2017-11-20 11:46:00    19
2017-11-20 10:59:00    13
                       ..
2017-07-19 12:26:00     1
2018-04-10 01:14:00     1
2018-05-31 22:31:00     1
2017-07-09 11:43:00     1
2018-05-16 17:44:00     1
Name: order_purchase_timestamp, Length: 86358, dtype: int64

2018-02-27 04:31:10    9
2017-12-05 10:30:42    7
2018-07-05 16:33:01    7
2018-02-06 05:31:52    7
2018-01-10 10:32:03    7
                      ..
2017-12-01 13:58:23    1
2017-11-15 21:27:33    1
2018-01-15 10:14:24    1
2018-01-17 08:32:19    1
2018-05-16 17:58:18    1
Name: order_approved_at, Length: 88274, dtype: int64

2018-05-09 15:48:00    47
2018-05-10 18:29:00    32
2018-05-07 12:31:00    21
2018-05-02 15:15:00    16
2018-07-24 16:07:00    16
                       ..
2017-11-27 23:44:26     1
2018-02-16 22:37:17     1
2018-05-10 13:16:00     1
2018-03-06 21:58:56     1
2018-05-17 13:53:00     1
Name: order_delivered_carrier_date, Length: 80106, dtype: int64

2018-02-01 20:29:00    7
2018-05-21 19:28:00    7
2018-08-03 21:04:00    7
2018-07-24 18:28:00    7
2017-12-11 18:52:00    7
                      ..
2018-08-16 14:48:00    1
2017-03-20 06:37:00    1
2017-03-24 11:12:00    1
2017-03-06 14:35:00    1
2018-04-25 17:58:00    1
Name: order_delivered_customer_date, Length: 75645, dtype: int64

2017-12-20 00:00:00    507
2018-03-12 00:00:00    500
2018-05-29 00:00:00    498
2018-02-14 00:00:00    498
2018-03-13 00:00:00    495
                      ...
2018-10-10 00:00:00      1
2018-10-23 00:00:00      1
2016-10-27 00:00:00      1
2018-10-17 00:00:00      1
2016-11-07 00:00:00      1
Name: order_estimated_delivery_date, Length: 445, dtype: int64

8d50f5eadf50201ccdcedfb9e2ac8455    15
3e43e6105506432c953e165fb2acf44c     9
ca77025e7201e3b30c44b472ff346268     7
6469f99c1f9dfae7733b25662e7f1782     7
1b6c7548a2a1f9037c1fd3ddfed95f33     7
                                    ..
eb8ddda056161923245beb3770c3431f     1
2a9c9f508e13aa83b70b744554866bae     1
3f20347ba314e82e97b88412da57d644     1
10d854c7717f3a3221fc2874b4084910     1
bd74c542112c5bfaf4b4211c766c08de     1
Name: customer_unique_id, Length: 93358, dtype: int64

22790    136
24230    117
22793    116
24220    115
22775    103
        ...
59182      1
2881       1
3514       1
5759       1
5591       1
Name: customer_zip_code_prefix, Length: 14889, dtype: int64

sao paulo           15045
rio de janeiro       6601
belo horizonte       2697
brasilia             2071
curitiba             1489
                    ...
glaura                  1
combinado               1
angelo frechiani        1
moema                   1
arapua                  1
Name: customer_city, Length: 4085, dtype: int64

SP    40501
RJ    12350
MG    11354
RS     5345
PR     4923
SC     3546
BA     3256
DF     2080
ES     1995
GO     1957
PE     1593
CE     1279
PA      946
MT      886
MA      717
MS      701
PB      517
PI      476
RN      474
AL      397
SE      335
TO      274
RO      243
AM      145
AC       80
AP       67
RR       41
Name: customer_state, dtype: int64

4d0e6dd087008d1f992d25ef6e1f619f    3
2172867fd5b1a55f98fe4608e1547b4b    3
70509c441d994fa03d6c1457930c9024    3
69a1068c3128a14994e3e422e4539e04    3
72f6ccb4b4cf569f0c40e03e327d7aa2    2
                                   ..
85cd8ee1e2af04d36f83d101969d335c    1
40e6c79c0b27fb474fc37bed8856ca2a    1
bcd790bb49d466c157c571153d7e1b4e    1
ce5c2641b632feea5d538fcb4da69cf1    1
c67c934d93c885bb10cdcd55b429d3ef    1
Name: review_id, Length: 96004, dtype: int64

5    56835
4    18952
1     9694
3     8005
2     2992
Name: review_score, dtype: int64

Recomendo                    424
recomendo                    341
Bom                          288
super recomendo              268
Excelente                    248
                            ...
Achei que seria melhor         1
nada em desabono               1
ENTREGA PARCIAL                1
Não vale muito apena           1
ENTREGARAM O LIVRO ERRADO      1
Name: review_comment_title, Length: 4424, dtype: int64

Muito bom                                                                                                                                                                                         230
Bom                                                                                                                                                                                               189
muito bom                                                                                                                                                                                         119
bom                                                                                                                                                                                               105
Recomendo                                                                                                                                                                                          99
                                                                                                                                                                                                 ...
Comprei dois lustres e so recebi um                                                                                                                                                                 1
não consigo rastrear meu produto. \r\nmuita demora pra entregar                                                                                                                                     1
Sempre compro nas lannister e não tenho nada a reclamar,tudo perfeito.                                                                                                                              1
Parabéns pelo atendimento, fidelidade na entrega; chegou bem antes do previsto;Muito bem protegido com a nota fiscal colada na caixa; sempre comprei e nunca me frustrei, parabéns por tudo...      1
Uma excelente ferramenta.                                                                                                                                                                           1
Name: review_comment_message, Length: 34988, dtype: int64

2018-08-28 00:00:00    450
2017-12-19 00:00:00    449
2018-05-15 00:00:00    427
2017-12-20 00:00:00    425
2018-08-14 00:00:00    422
                      ...
2016-12-04 00:00:00      1
2016-12-08 00:00:00      1
2018-05-28 00:00:00      1
2017-11-13 00:00:00      1
2018-02-13 00:00:00      1
Name: review_creation_date, Length: 628, dtype: int64

2017-06-15 23:21:05    4
2017-09-08 00:24:52    3
2017-04-13 21:12:43    3
2018-02-26 15:53:18    3
2018-06-17 23:48:04    3
                      ..
2018-05-24 23:35:00    1
2018-06-03 10:53:51    1
2018-05-26 23:28:33    1
2018-04-05 02:18:07    1
2018-06-08 12:16:21    1
Name: review_answer_timestamp, Length: 95851, dtype: int64

1.0     94839
2.0      1374
3.0       144
4.0        57
5.0        25
6.0        15
7.0        12
8.0         4
9.0         3
11.0        2
17.0        1
18.0        1
Name: payment_sequential, dtype: int64

credit_card    73126
boleto         19191
voucher         2675
debit_card      1485
Name: payment_type, dtype: int64

1.0     47200
2.0     11938
3.0     10054
4.0      6812
10.0     5089
5.0      5036
8.0      4101
6.0      3762
7.0      1546
9.0       614
12.0      125
15.0       72
18.0       26
11.0       22
24.0       18
20.0       16
13.0       15
14.0       12
17.0        7
16.0        5
21.0        3
0.0         2
22.0        1
23.0        1
Name: payment_installments, dtype: int64

77.57     246
50.00     168
73.34     158
35.00     156
116.94    130
         ...
76.49       1
6.44        1
103.97      1
187.92      1
303.87      1
Name: payment_value, Length: 27585, dtype: int64

1     91209
2      4316
3       617
4       212
5        77
6        25
7         7
8         5
10        4
9         3
11        1
15        1
13        1
Name: order_item_id, dtype: int64

59.90     2003
69.90     1753
49.90     1615
89.90     1354
99.90     1266
          ...
14.35        1
162.52       1
21.32        1
80.80        1
818.00       1
Name: price, Length: 5767, dtype: int64

15.10    3207
7.78     1974
14.10    1623
11.85    1578
18.23    1338
         ...
54.24       1
41.04       1
86.69       1
2.02        1
55.61       1
Name: freight_value, Length: 6680, dtype: int64

14940    6385
5849     1816
9015     1654
15025    1448
13405    1307
         ...
4810        1
28633       1
27963       1
4283        1
3561        1
Name: seller_zip_code_prefix, Length: 2162, dtype: int64

sao paulo                  23833
ibitinga                    6385
curitiba                    2642
santo andre                 2605
belo horizonte              2329
                           ...
campanha                       1
abadia de goias                1
pitangueiras                   1
barbacena/ minas gerais        1
itapui                         1
Name: seller_city, Length: 595, dtype: int64

SP    68411
MG     7653
PR     7434
RJ     4186
SC     3558
RS     1944
DF      803
BA      548
GO      451
PE      402
MA      389
ES      307
MT      135
CE       84
RN       50
MS       47
PB       34
RO       13
PI       10
SE        8
PA        8
AM        3
Name: seller_state, dtype: int64

cama_mesa_banho                                  9174
beleza_saude                                     8613
esporte_lazer                                    7495
informatica_acessorios                           6508
moveis_decoracao                                 6208
                                                 ...
portateis_cozinha_e_preparadores_de_alimentos      13
cds_dvds_musicais                                  12
pc_gamer                                            7
fashion_roupa_infanto_juvenil                       6
seguros_e_servicos                                  2
Name: product_category_name, Length: 73, dtype: int64

59.0    7288
60.0    6650
56.0    5615
58.0    5561
57.0    5200
        ...
6.0        2
67.0       2
68.0       1
7.0        1
76.0       1
Name: product_name_lenght, Length: 64, dtype: int64

1893.0    573
341.0     527
492.0     523
245.0     477
903.0     472
         ...
2964.0      1
2402.0      1
3195.0      1
1579.0      1
3149.0      1
Name: product_description_lenght, Length: 2933, dtype: int64

1.0     46995
2.0     18744
3.0     10954
4.0      7412
5.0      4876
6.0      3341
7.0      1380
8.0       669
10.0      314
9.0       275
11.0       61
12.0       44
13.0       26
15.0       11
17.0        8
14.0        6
18.0        4
19.0        1
20.0        1
Name: product_photos_qty, dtype: int64

200.0      5796
150.0      4557
250.0      3926
300.0      3650
400.0      3122
           ...
1783.0        1
24550.0       1
1060.0        1
4727.0        1
58.0          1
Name: product_weight_g, Length: 2154, dtype: int64

16.0    14938
20.0     8931
30.0     6173
17.0     5250
18.0     5015
        ...
83.0        7
94.0        6
88.0        5
9.0         4
8.0         2
Name: product_length_cm, Length: 99, dtype: int64

10.0    8343
20.0    5743
12.0    5543
15.0    5536
11.0    5359
        ...
87.0       2
97.0       2
94.0       2
92.0       2
89.0       1
Name: product_height_cm, Length: 102, dtype: int64

20.0     10245
11.0      8952
15.0      7739
16.0      7231
30.0      6308
         ...
86.0         1
98.0         1
104.0        1
87.0         1
101.0        1
Name: product_width_cm, Length: 94, dtype: int64

###### Pitanja
1. Da li je skup podataka dovoljno velik? 
2. Da li skup ima dovoljno različite podatke? 
3. Da li skup ima vremensku dimenziju? Ima
4. Da li skup ima kvantitativne i kvalitativne podatke? Da
5. Da li skup ima puno nedostajućih vrijednosti? Ne

## Checkpoint 2 

#### Izrada relacijskog modela i baze podataka

##### ER DIJAGRAM

![ER DIJAGRAM](ER_dijagram.png "ER DIJAGRAM")

In [3]:
customer_df = df[['Gender', 'Customer_Login_type', 'customer_id']].drop_duplicates().reset_index(drop=True)
customer_df

       Gender Customer_Login_type  customer_id
0      Female              Member   1348959766
1      Female              Member   2213674919
2      Female              Member   1809450308
3      Female              Member   1691227134
4      Female              Member   2290737237
...       ...                 ...          ...
65152  Female              Member   1266148699
65153  Female              Member   2282461907
65154  Female              Member   1367012613
65155  Female              Member   1192845373
65156  Female              Member   2063357887

[65157 rows x 3 columns]

In [4]:
product_df = df[['Product', 'Category', 'Individual_Price_US$']].drop_duplicates().reset_index(drop=True)
product_df['product_id'] = product_df.index 
product_df

        Product     Category Individual_Price_US$  product_id
0     Hair Band  Accessories                  576           0
1     Hair Band  Accessories                  100           1
2     Hair Band  Accessories                  217           2
3     Hair Band  Accessories                   32           3
4     Hair Band  Accessories                  191           4
...         ...          ...                  ...         ...
8192      Shoes    wearables                  996        8192
8193      Shoes    wearables                1,517        8193
8194      Shoes    wearables                3,731        8194
8195      Shoes    wearables                  956        8195
8196      Shoes    wearables                1,931        8196

[8197 rows x 4 columns]

In [5]:
state_df = df[['State', 'City']].drop_duplicates().reset_index(drop=True)
state_df['state_id'] = state_df.index 
state_df

        State           City  state_id
0    New York  New York City         0
1  California     Los Angles         1
2  Washington        Seattle         2

In [6]:
order_df=pd.merge(df, product_df, on=['Product', 'Category', 'Individual_Price_US$'])
order_df=pd.merge(order_df, state_df, on=['State', 'City'])
order_df = order_df[['Transaction_id','Date', 'Delivery_Type', ' Quantity ', 'Device_Type', 'Amount US$', 'Time', 'Transaction_Result', 'customer_id']].drop_duplicates().reset_index(drop=True)
order_df

,Transaction_id,Date,Delivery_Type,Quantity,Device_Type,Amount US$,Time,Transaction_Result,customer_id
0,40170,14/11/2013,one-day deliver,12,Web,"6,910",22:35:51,0,1348959766
1,76028,21/12/2013,one-day deliver,16,Web,641,02:17:55,1,1645228017
2,17894,10/10/2013,one-day deliver,12,Web,"1,647",02:25:23,1,1610000572
3,31869,02/11/2013,one-day deliver,17,Web,"2,324",19:50:09,1,1323517774
4,17949,10/10/2013,one-day deliver,17,Web,0,23:07:07,0,2217960309
...,...,...,...,...,...,...,...,...,...
65530,65885,12/12/2013,one-day deliver,12,Mobile,"11,950",07:55:09,1,2229655470
65531,66482,13/12/2013,Normal Delivery,17,Mobile,"25,795",10:33:43,0,1249094054
65532,66975,13/12/2013,Normal Delivery,22,Mobile,"82,075",08:23:52,1,2222504831
65533,67045,13/12/2013,Normal Delivery,23,Mobile,"21,990",20:13:22,0,1367012613
65534,67181,13/12/2013,Normal Delivery,16,Mobile,"30,901",15:23:35,1,2063357887

In [9]:
import psycopg2
from sqlalchemy import create_engine

conn_string = 'postgresql://postgres:admin@127.0.0.1/Spi-projekt'

db = create_engine(conn_string)

try:
    order_table = order_df.to_sql('orders', db, if_exists='replace', index=False)
    customer_table = customer_df.to_sql('customers', db, if_exists='replace', index=False)
    product_table = product_df.to_sql('products', db, if_exists='replace', index=False)
    state_table = state_df.to_sql('states', db, if_exists='replace', index=False)
except Exception as ex:
    print(ex)
else:
    print("PostgreSQL tablice su kreirane i popunjene.")

PostgreSQL tablice su kreirane i popunjene.